    .testt{
    margin-left:-170px;
        width:9999px;
        position:fixed;
        z-index: 99;
       
    }
    .navbar-dark .navbar-nav .nav-link{
        color:black;
    }

    

     .navbar-dark .navbar-brand {
    color: black;
}

 